<div class="game-container">
    <h1>Stone Scissors Paper</h1>
    <div class="choices">
        <div class="button-container">
            <button (click)="sendDataToJava('PAPER')">
              <img src="../assets/img/paper.jpeg" alt="Paper">
            </button>
          </div>
          <div class="button-container">
            <button (click)="sendDataToJava('STONE')">
              <img src="../assets/img/stone.png" alt="Stone">
            </button>
          </div>
          <div class="button-container">
            <button (click)="sendDataToJava('SCISSORS')">
              <img src="../assets/img/scissors.jpeg" alt="Scissors">
            </button>
          </div>
    </div>
    <div *ngIf="data" class="result">
      <h2>Computer Selected:</h2>
      <p>{{ data.computerChoice }}</p>
  
      <h2>Result:</h2>
      <p>{{ data.result }}</p>
    </div>
  </div>